"acme-system" {
  ; we use 'class' to indicate the "YANG type" of this element
  :class      :module  
  :namespace  "http://acme.example.com/system"
  :prefix     "acme"

  :organization "ACME Inc."
  :contact "joe@acme.example.com"
  :description "The module for entities implementing the ACME system."

  :revisions {
    2007-11-05 {
      :description "Initial revision."
    }
  }

  "system" {
    :class :container
    "host-name" {
      :class        :leaf 
      :type         :string
      :description  "Hostname for this system"
    }

    "alias-name" {
      :class        :leaf 
      :type         :string
      :description  "Alias name for this system"
    }

    "domain-search" {
      :class        :leaf-list
      :type         :string
      :description  "List of domain names to search"
    }

    "props" {
      :class        :leaf-list
      :type         :string
      :description  "List of properties for the system"
    }

    "interface" {
      :class    :list 
      :key      "name"
      :description  "List of interfaces in the system"

      "name" {
        :class  :leaf
        :type   :string
      }
      "type" {
        :class  :leaf
        :type   :string
      }
      "mtu" {
        :class  :leaf
        :type   :int32
      }
    }
  }
}

