[:module-stmt
 [:optsep]
 [:module-keyword "module"]
 [:sep [:WSP [:SP " "]]]
 [:identifier-arg-str [:identifier-arg "acme-system"]]
 [:optsep [:WSP [:SP " "]]]
 "{"
 [:stmtsep
  [:line-break [:LF "\n"]]
  [:WSP [:SP " "]]
  [:WSP [:SP " "]]
  [:WSP [:SP " "]]
  [:WSP [:SP " "]]]
 [:module-header-stmts
  [:namespace-stmt
   [:namespace-keyword "namespace"]
   [:sep [:WSP [:SP " "]]]
   [:uri-str-quoted
    [:DQUOTE "\""]
    [:uri-str
     [:URI
      [:scheme [:ALPHA "h"] [:ALPHA "t"] [:ALPHA "t"] [:ALPHA "p"]]
      ":"
      [:hier-part
       "//"
       [:authority
        [:host
         [:reg-name
          [:unreserved [:ALPHA "a"]]
          [:unreserved [:ALPHA "c"]]
          [:unreserved [:ALPHA "m"]]
          [:unreserved [:ALPHA "e"]]
          [:unreserved "."]
          [:unreserved [:ALPHA "e"]]
          [:unreserved [:ALPHA "x"]]
          [:unreserved [:ALPHA "a"]]
          [:unreserved [:ALPHA "m"]]
          [:unreserved [:ALPHA "p"]]
          [:unreserved [:ALPHA "l"]]
          [:unreserved [:ALPHA "e"]]
          [:unreserved "."]
          [:unreserved [:ALPHA "c"]]
          [:unreserved [:ALPHA "o"]]
          [:unreserved [:ALPHA "m"]]]]]
       [:path-abempty
        "/"
        [:segment
         [:pchar [:unreserved [:ALPHA "s"]]]
         [:pchar [:unreserved [:ALPHA "y"]]]
         [:pchar [:unreserved [:ALPHA "s"]]]
         [:pchar [:unreserved [:ALPHA "t"]]]
         [:pchar [:unreserved [:ALPHA "e"]]]
         [:pchar [:unreserved [:ALPHA "m"]]]]]]]]
    [:DQUOTE "\""]]
   [:optsep]
   [:stmtend ";"]]
  [:stmtsep
   [:line-break [:LF "\n"]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]]
  [:prefix-stmt
   [:prefix-keyword "prefix"]
   [:sep [:WSP [:SP " "]]]
   [:prefix-arg "acme"]
   [:optsep]
   [:stmtend ";"]]
  [:stmtsep
   [:line-break [:LF "\n"]]
   [:line-break [:LF "\n"]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]]]
 [:linkage-stmts]
 [:meta-stmts
  [:organization-stmt
   [:organization-keyword "organization"]
   [:sep [:WSP [:SP " "]]]
   [:string-quoted
    [:DQUOTE "\""]
    [:string
     [:text-char-no-dquote [:vis-char-no-dquote "A"]]
     [:text-char-no-dquote [:vis-char-no-dquote "C"]]
     [:text-char-no-dquote [:vis-char-no-dquote "M"]]
     [:text-char-no-dquote [:vis-char-no-dquote "E"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "I"]]
     [:text-char-no-dquote [:vis-char-no-dquote "n"]]
     [:text-char-no-dquote [:vis-char-no-dquote "c"]]
     [:text-char-no-dquote [:vis-char-no-dquote "."]]]
    [:DQUOTE "\""]]
   [:optsep]
   [:stmtend ";"]]
  [:stmtsep
   [:line-break [:LF "\n"]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]]
  [:contact-stmt
   [:contact-keyword "contact"]
   [:sep [:WSP [:SP " "]]]
   [:string-quoted
    [:DQUOTE "\""]
    [:string
     [:text-char-no-dquote [:vis-char-no-dquote "j"]]
     [:text-char-no-dquote [:vis-char-no-dquote "o"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "@"]]
     [:text-char-no-dquote [:vis-char-no-dquote "a"]]
     [:text-char-no-dquote [:vis-char-no-dquote "c"]]
     [:text-char-no-dquote [:vis-char-no-dquote "m"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "."]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "x"]]
     [:text-char-no-dquote [:vis-char-no-dquote "a"]]
     [:text-char-no-dquote [:vis-char-no-dquote "m"]]
     [:text-char-no-dquote [:vis-char-no-dquote "p"]]
     [:text-char-no-dquote [:vis-char-no-dquote "l"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "."]]
     [:text-char-no-dquote [:vis-char-no-dquote "c"]]
     [:text-char-no-dquote [:vis-char-no-dquote "o"]]
     [:text-char-no-dquote [:vis-char-no-dquote "m"]]]
    [:DQUOTE "\""]]
   [:optsep]
   [:stmtend ";"]]
  [:stmtsep
   [:line-break [:LF "\n"]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]]
  [:description-stmt
   [:description-keyword "description"]
   [:sep
    [:line-break [:LF "\n"]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]]
   [:string-quoted
    [:DQUOTE "\""]
    [:string
     [:text-char-no-dquote [:vis-char-no-dquote "T"]]
     [:text-char-no-dquote [:vis-char-no-dquote "h"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "m"]]
     [:text-char-no-dquote [:vis-char-no-dquote "o"]]
     [:text-char-no-dquote [:vis-char-no-dquote "d"]]
     [:text-char-no-dquote [:vis-char-no-dquote "u"]]
     [:text-char-no-dquote [:vis-char-no-dquote "l"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "f"]]
     [:text-char-no-dquote [:vis-char-no-dquote "o"]]
     [:text-char-no-dquote [:vis-char-no-dquote "r"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "n"]]
     [:text-char-no-dquote [:vis-char-no-dquote "t"]]
     [:text-char-no-dquote [:vis-char-no-dquote "i"]]
     [:text-char-no-dquote [:vis-char-no-dquote "t"]]
     [:text-char-no-dquote [:vis-char-no-dquote "i"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "s"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "i"]]
     [:text-char-no-dquote [:vis-char-no-dquote "m"]]
     [:text-char-no-dquote [:vis-char-no-dquote "p"]]
     [:text-char-no-dquote [:vis-char-no-dquote "l"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "m"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "n"]]
     [:text-char-no-dquote [:vis-char-no-dquote "t"]]
     [:text-char-no-dquote [:vis-char-no-dquote "i"]]
     [:text-char-no-dquote [:vis-char-no-dquote "n"]]
     [:text-char-no-dquote [:vis-char-no-dquote "g"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "t"]]
     [:text-char-no-dquote [:vis-char-no-dquote "h"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "A"]]
     [:text-char-no-dquote [:vis-char-no-dquote "C"]]
     [:text-char-no-dquote [:vis-char-no-dquote "M"]]
     [:text-char-no-dquote [:vis-char-no-dquote "E"]]
     [:text-char-no-dquote [:WSP [:SP " "]]]
     [:text-char-no-dquote [:vis-char-no-dquote "s"]]
     [:text-char-no-dquote [:vis-char-no-dquote "y"]]
     [:text-char-no-dquote [:vis-char-no-dquote "s"]]
     [:text-char-no-dquote [:vis-char-no-dquote "t"]]
     [:text-char-no-dquote [:vis-char-no-dquote "e"]]
     [:text-char-no-dquote [:vis-char-no-dquote "m"]]
     [:text-char-no-dquote [:vis-char-no-dquote "."]]]
    [:DQUOTE "\""]]
   [:optsep]
   [:stmtend ";"]]
  [:stmtsep
   [:line-break [:LF "\n"]]
   [:line-break [:LF "\n"]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]]]
 [:revision-stmts
  [:revision-stmt
   [:revision-keyword "revision"]
   [:sep [:WSP [:SP " "]]]
   [:revision-date
    [:date-arg
     [:DIGIT "2"]
     [:DIGIT "0"]
     [:DIGIT "0"]
     [:DIGIT "7"]
     "-"
     [:DIGIT "1"]
     [:DIGIT "1"]
     "-"
     [:DIGIT "0"]
     [:DIGIT "5"]]]
   [:optsep [:WSP [:SP " "]]]
   "{"
   [:stmtsep
    [:line-break [:LF "\n"]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]]
   [:description-stmt
    [:description-keyword "description"]
    [:sep [:WSP [:SP " "]]]
    [:string-quoted
     [:DQUOTE "\""]
     [:string
      [:text-char-no-dquote [:vis-char-no-dquote "I"]]
      [:text-char-no-dquote [:vis-char-no-dquote "n"]]
      [:text-char-no-dquote [:vis-char-no-dquote "i"]]
      [:text-char-no-dquote [:vis-char-no-dquote "t"]]
      [:text-char-no-dquote [:vis-char-no-dquote "i"]]
      [:text-char-no-dquote [:vis-char-no-dquote "a"]]
      [:text-char-no-dquote [:vis-char-no-dquote "l"]]
      [:text-char-no-dquote [:WSP [:SP " "]]]
      [:text-char-no-dquote [:vis-char-no-dquote "r"]]
      [:text-char-no-dquote [:vis-char-no-dquote "e"]]
      [:text-char-no-dquote [:vis-char-no-dquote "v"]]
      [:text-char-no-dquote [:vis-char-no-dquote "i"]]
      [:text-char-no-dquote [:vis-char-no-dquote "s"]]
      [:text-char-no-dquote [:vis-char-no-dquote "i"]]
      [:text-char-no-dquote [:vis-char-no-dquote "o"]]
      [:text-char-no-dquote [:vis-char-no-dquote "n"]]
      [:text-char-no-dquote [:vis-char-no-dquote "."]]]
     [:DQUOTE "\""]]
    [:optsep]
    [:stmtend ";"]]
   [:stmtsep
    [:line-break [:LF "\n"]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]
    [:WSP [:SP " "]]]
   "}"]
  [:stmtsep
   [:line-break [:LF "\n"]]
   [:line-break [:LF "\n"]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]
   [:WSP [:SP " "]]]]
 [:body-stmts
  [:data-def-stmt
   [:container-stmt
    [:container-keyword "container"]
    [:sep [:WSP [:SP " "]]]
    [:identifier-arg-str [:identifier-arg "system"]]
    [:optsep [:WSP [:SP " "]]]
    "{"
    [:stmtsep
     [:line-break [:LF "\n"]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]]
    [:data-def-stmt
     [:leaf-stmt
      [:leaf-keyword "leaf"]
      [:sep [:WSP [:SP " "]]]
      [:identifier-arg-str [:identifier-arg "host-name"]]
      [:optsep [:WSP [:SP " "]]]
      "{"
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:type-stmt
       [:type-keyword "type"]
       [:sep [:WSP [:SP " "]]]
       [:identifier-ref-arg-str [:identifier-ref-arg "string"]]
       [:optsep]
       ";"]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:description-stmt
       [:description-keyword "description"]
       [:sep [:WSP [:SP " "]]]
       [:string-quoted
        [:DQUOTE "\""]
        [:string
         [:text-char-no-dquote [:vis-char-no-dquote "H"]]
         [:text-char-no-dquote [:vis-char-no-dquote "o"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:vis-char-no-dquote "n"]]
         [:text-char-no-dquote [:vis-char-no-dquote "a"]]
         [:text-char-no-dquote [:vis-char-no-dquote "m"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "f"]]
         [:text-char-no-dquote [:vis-char-no-dquote "o"]]
         [:text-char-no-dquote [:vis-char-no-dquote "r"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:vis-char-no-dquote "h"]]
         [:text-char-no-dquote [:vis-char-no-dquote "i"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "y"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:vis-char-no-dquote "m"]]]
        [:DQUOTE "\""]]
       [:optsep]
       [:stmtend ";"]]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      "}"]]
    [:stmtsep
     [:line-break [:LF "\n"]]
     [:line-break [:LF "\n"]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]]
    [:data-def-stmt
     [:leaf-list-stmt
      [:leaf-list-keyword "leaf-list"]
      [:sep [:WSP [:SP " "]]]
      [:identifier-arg-str [:identifier-arg "domain-search"]]
      [:optsep [:WSP [:SP " "]]]
      "{"
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:type-stmt
       [:type-keyword "type"]
       [:sep [:WSP [:SP " "]]]
       [:identifier-ref-arg-str [:identifier-ref-arg "string"]]
       [:optsep]
       ";"]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:description-stmt
       [:description-keyword "description"]
       [:sep [:WSP [:SP " "]]]
       [:string-quoted
        [:DQUOTE "\""]
        [:string
         [:text-char-no-dquote [:vis-char-no-dquote "L"]]
         [:text-char-no-dquote [:vis-char-no-dquote "i"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "o"]]
         [:text-char-no-dquote [:vis-char-no-dquote "f"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "d"]]
         [:text-char-no-dquote [:vis-char-no-dquote "o"]]
         [:text-char-no-dquote [:vis-char-no-dquote "m"]]
         [:text-char-no-dquote [:vis-char-no-dquote "a"]]
         [:text-char-no-dquote [:vis-char-no-dquote "i"]]
         [:text-char-no-dquote [:vis-char-no-dquote "n"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "n"]]
         [:text-char-no-dquote [:vis-char-no-dquote "a"]]
         [:text-char-no-dquote [:vis-char-no-dquote "m"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:vis-char-no-dquote "o"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:vis-char-no-dquote "a"]]
         [:text-char-no-dquote [:vis-char-no-dquote "r"]]
         [:text-char-no-dquote [:vis-char-no-dquote "c"]]
         [:text-char-no-dquote [:vis-char-no-dquote "h"]]]
        [:DQUOTE "\""]]
       [:optsep]
       [:stmtend ";"]]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      "}"]]
    [:stmtsep
     [:line-break [:LF "\n"]]
     [:line-break [:LF "\n"]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]]
    [:data-def-stmt
     [:list-stmt
      [:list-keyword "list"]
      [:sep [:WSP [:SP " "]]]
      [:identifier-arg-str [:identifier-arg "interface"]]
      [:optsep [:WSP [:SP " "]]]
      "{"
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:key-stmt
       [:key-keyword "key"]
       [:sep [:WSP [:SP " "]]]
       [:key-arg [:node-identifier "name"]]
       [:stmtend ";"]]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:description-stmt
       [:description-keyword "description"]
       [:sep [:WSP [:SP " "]]]
       [:string-quoted
        [:DQUOTE "\""]
        [:string
         [:text-char-no-dquote [:vis-char-no-dquote "L"]]
         [:text-char-no-dquote [:vis-char-no-dquote "i"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "o"]]
         [:text-char-no-dquote [:vis-char-no-dquote "f"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "i"]]
         [:text-char-no-dquote [:vis-char-no-dquote "n"]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:vis-char-no-dquote "r"]]
         [:text-char-no-dquote [:vis-char-no-dquote "f"]]
         [:text-char-no-dquote [:vis-char-no-dquote "a"]]
         [:text-char-no-dquote [:vis-char-no-dquote "c"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "i"]]
         [:text-char-no-dquote [:vis-char-no-dquote "n"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:vis-char-no-dquote "h"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:WSP [:SP " "]]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "y"]]
         [:text-char-no-dquote [:vis-char-no-dquote "s"]]
         [:text-char-no-dquote [:vis-char-no-dquote "t"]]
         [:text-char-no-dquote [:vis-char-no-dquote "e"]]
         [:text-char-no-dquote [:vis-char-no-dquote "m"]]]
        [:DQUOTE "\""]]
       [:optsep]
       [:stmtend ";"]]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:data-def-stmt
       [:leaf-stmt
        [:leaf-keyword "leaf"]
        [:sep [:WSP [:SP " "]]]
        [:identifier-arg-str [:identifier-arg "name"]]
        [:optsep [:WSP [:SP " "]]]
        "{"
        [:stmtsep
         [:line-break [:LF "\n"]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]]
        [:type-stmt
         [:type-keyword "type"]
         [:sep [:WSP [:SP " "]]]
         [:identifier-ref-arg-str [:identifier-ref-arg "string"]]
         [:optsep]
         ";"]
        [:stmtsep
         [:line-break [:LF "\n"]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]]
        "}"]]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:data-def-stmt
       [:leaf-stmt
        [:leaf-keyword "leaf"]
        [:sep [:WSP [:SP " "]]]
        [:identifier-arg-str [:identifier-arg "type"]]
        [:optsep [:WSP [:SP " "]]]
        "{"
        [:stmtsep
         [:line-break [:LF "\n"]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]]
        [:type-stmt
         [:type-keyword "type"]
         [:sep [:WSP [:SP " "]]]
         [:identifier-ref-arg-str [:identifier-ref-arg "string"]]
         [:optsep]
         ";"]
        [:stmtsep
         [:line-break [:LF "\n"]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]]
        "}"]]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      [:data-def-stmt
       [:leaf-stmt
        [:leaf-keyword "leaf"]
        [:sep [:WSP [:SP " "]]]
        [:identifier-arg-str [:identifier-arg "mtu"]]
        [:optsep [:WSP [:SP " "]]]
        "{"
        [:stmtsep
         [:line-break [:LF "\n"]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]]
        [:type-stmt
         [:type-keyword "type"]
         [:sep [:WSP [:SP " "]]]
         [:identifier-ref-arg-str [:identifier-ref-arg "int32"]]
         [:optsep]
         ";"]
        [:stmtsep
         [:line-break [:LF "\n"]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]
         [:WSP [:SP " "]]]
        "}"]]
      [:stmtsep
       [:line-break [:LF "\n"]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]
       [:WSP [:SP " "]]]
      "}"]]
    [:stmtsep
     [:line-break [:LF "\n"]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]
     [:WSP [:SP " "]]]
    "}"]]
  [:stmtsep [:line-break [:LF "\n"]]]]
 "}"
 [:optsep [:line-break [:LF "\n"]] [:line-break [:LF "\n"]]]]
